* {
    text-align: center;
    box-sizing: border-box;
    line-height: 1.1;
}

body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(transparent 40%, red, black);
}

p:last-child {
    margin: 0;
}